
.scroller, .table{
    max-height: 150px!important;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #141313;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width: 1200px) {
    .scroller{
        margin-right: 20px!important;
        width: 300px;
    }
}
@media (max-width: 991px) {
    .scroller{
        margin: auto!important;
    }
}